{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 85,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "proseWrap": "always",
  "importOrder": [
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^react$",
    "^next",
    "^@/configs/fonts$",
    "<THIRD_PARTY_MODULES>",
    "^./styles/(.*)$",
    "^@/components/(.*)$",
    "^@/lib/(.*)$",
    "^@/utils/(.*)$",
    "^@/hooks/(.*)$",
    "^@/types/(.*)$",
    "^@/.*$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
